/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

/* Marking Package */
#marking-package{
    position: relative;
    top: -80px;
    border-radius: 20px;
}
#hot-button{
    position: relative;
    top: -15px;
    left: 180px;
    height: 40px;
    width: 60px;
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 15px;
    background-color: tomato;
}
/* Chose Plan Button  */
.chose-plan-btn{
    background-color: #f1c2e0;
}
/* Tick Color */
.tick-color{
    color: #5243C2;
}
/* client Image */
.client-img{
    height: 100px;
    width: 100px;
    text-align: center;
}
/* Star Icon Color  */
.icon-color{
    color: rgb(248, 232, 7);
}
/* Mobile Responsive */
@media only screen and (max-width: 990px) {
    #marking-package{
        top: -20px;
    }
    #hot-button{
        left: 240px;
    }
    
  }
  

